<!-- INCLUDE overall_header.html -->

<!-- IF S_SHOW_COPPA or S_REGISTRATION -->

	<form method="post" action="{S_UCP_ACTION}" id="agreement">

	<div class="panel">
		<div class="inner">
		<div class="content">
			<h2 class="sitename-title">{SITENAME} - {L_REGISTRATION}</h2>
			<!-- EVENT ucp_agreement_terms_before -->
			<p><!-- IF S_SHOW_COPPA -->{L_COPPA_BIRTHDAY}<!-- ELSE -->{L_TERMS_OF_USE}<!-- ENDIF --></p>
			<!-- EVENT ucp_agreement_terms_after -->
		</div>
		</div>
	</div>

	<div class="panel">
		<div class="inner">
		<fieldset class="submit-buttons">
			<!-- IF S_SHOW_COPPA -->
			<strong><a href="{U_COPPA_NO}" class="button1">{L_COPPA_NO}</a></strong>&nbsp; <a href="{U_COPPA_YES}" class="button2">{L_COPPA_YES}</a>
			<!-- ELSE -->

			<p><input type="submit" name="agreed" id="agreed" value="{L_AGREE}（メールアドレス）" class="button1" /></p>
			<p><a href="{U_LOGIN_LOGOUT}" class="button1">{L_AGREE}（ソーシャルログイン）</a></p>
			<p><input type="submit" name="not_agreed" value="{L_NOT_AGREE}" class="button2" /></p>
			<!-- ENDIF -->
			{S_HIDDEN_FIELDS}
			{S_FORM_TOKEN}
		</fieldset>
		</div>
	</div>
	</form>

<!-- ELSEIF S_AGREEMENT -->

	<div class="panel">
		<div class="inner">
		<div class="content">
			<h2 class="sitename-title">{SITENAME} - {AGREEMENT_TITLE}</h2>
			<p>{AGREEMENT_TEXT}</p>
			<hr class="dashed" />
			<p><a href="{U_BACK}" class="button2">{L_BACK}</a></p>
		</div>
		</div>
	</div>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
